main
{
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    margin: auto;
}

div.extra_lien
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:first-of-type
{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}
section:first-of-type h1
{
    text-align: center;
}
section:first-of-type h2
{
    font-size: 2em;
    text-align: center;
}

div.carre_contenu
{
    padding: 80px;
    box-shadow: 10px 15px 20px -17px;
    text-align: justify;
}


div.animaux_liste
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    gap: 10px;
    margin-top: 20px;
}

div.animaux_liste div.animaux
{
    background-color: cadetblue;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

div.animaux_liste div.un
{
    grid-column: 1 / 4;
}

div.animaux_liste div.deux
{
    grid-row: 2 / 4;
}

div.animaux_liste div.cinq
{
    grid-column: 2 / 4;
}

div.animaux_liste div.six
{
    grid-column: 1 / 3;
}

div.animaux_liste div.neuf
{
    grid-column: 2 / 4;
}


main section.tarif div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

main section.tarif div h1,
main section.tarif div a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section.tarif div a {
    margin-top: 0 !important;
}

table {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    width: 80%;
    margin: 0 auto;
}

td,
th {
    border: 1px solid white;
}

th {
    padding: 20px;
}

td {
    padding: 70px;
}