main.accueil section:nth-of-type(even)
{
    background-color: white;
}

main.accueil section:nth-of-type( even ) h2
{
    color: black;
    text-align: center;
}
main.accueil section:nth-of-type( odd ) h2
{
    color: #A5B4FC;
    text-align: center;
}

main.accueil section:first-of-type
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main.accueil section:first-of-type div:first-of-type
{
    width: 30%;
}
main.accueil section:first-of-type div:last-of-type
{
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
main.accueil section:first-of-type div:last-of-type img
{
    width: 100%;
}

main.accueil section.catalogue_photo div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main.accueil section.catalogue_photo div img
{
    margin: 10px;
}

main.accueil section form
{
    margin: 0 auto;
    width: 50%;
}
main.accueil section form input[ type="submit" ]
{
    display: block;
    margin: 40px auto 0 auto;
}
main.accueil section form div.projet_conteneur
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 250px;
    gap: 15px;
}
main.accueil section form div.projet_conteneur div:nth-of-type( 3 )
{
    grid-column: 1 / 3;
}

main.accueil section form div.projet_conteneur div
{
    display: flex;
    flex-direction: column;
}
main.accueil section form div.projet_conteneur div label
{
    font-family: 'Manrope';
    color: white;
    height: 35%;
}
main.accueil section form div.projet_conteneur div:nth-child(3) label
{
    height: 12%;
}
main.accueil section form div.projet_conteneur div input
,main.accueil section form div.projet_conteneur div textarea
{
    height: 65%;
}
main.accueil section form div.projet_conteneur div:nth-child( 3 ) input
,main.accueil section form div.projet_conteneur div:nth-child( 3 ) textarea
{
    height: 88%;
}