@font-face
{
    font-family: 'Manrope';
    src: url( '../font/Manrope/Manrope-VariableFont_wght.ttf' );
}
@font-face
{
    font-family: 'Montserrat';
    src: url( '../font/Montserrat/Montserrat-VariableFont_wght.ttf' );
}

*
{
    margin: 0;
}

h1
{
    font-size: 3em;
    color: #A5B4FC;
    font-family: 'Montserrat';
}

h2
{
    font-size: 2.7em;
    font-family: 'Manrope';
    color: #F9F8FF;
    margin: 10px 0 50px 0;
}

p
{
    font-size: 1.1em;
    font-family: 'Manrope';
    color : #F9F8FF;
}

ul
{
    font-size: 1em;
    font-family: 'Manrope';
    color : #F9F8FF;
    margin-top: 20px;
    list-style: circle;
}

a
{
    color: black;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Manrope';
}
a:hover
{
    text-decoration: underline;
}

a.cta
,input[ type="submit" ]
{
    text-decoration: none;
    background: linear-gradient(90deg, #8E86B5, #ACAEED);
    font-size: 1.1em;
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    border-radius: 50px;
    display: inline-block;
    margin-top: 50px;
    padding: 30px;
    border: none;
}
a.cta:hover
,input[ type="submit" ]:hover
{
    background: linear-gradient( 90deg ,#696484 ,#8788BA );
    cursor: pointer;
}

em
{
    color: #A5B4FC;
    font-style: normal;
}

section
{
    padding: 80px;
}


header
,footer
{
    background-color: white;
    padding: 20px 50px;
}

header a
,footer a
{
    color : #242424;
}

header a img:hover
,footer a img:hover
{
    opacity: 0.5;
}


main
{
    background-color: #1F2039;
}


header nav
,footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
header nav div
,footer div
{
    width: 50%;
}
header nav div:last-of-type
,footer div:last-of-type
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
footer div:last-of-type
{
    justify-content: flex-end;
}
footer div:last-of-type a
{
    margin: 0 10px;
}