section h1
{
    margin-bottom: 100px;
    text-align: center;
}
section h2:nth-of-type( 2 )
{
    margin-top: 100px;
}

section a div
{
    display: none;
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-size: 1.5em;
    top: -305px;
}
section a:hover div
{
    display: flex;
}
section a:hover
{
    text-decoration: none;
}

section div.grid-paysages
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 15px;
}

section div.grid-portraits
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 15px;
}

section div.grid-paysages img,
section div.grid-portraits img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}