@media all and ( max-width: 1250px )
{
    h1
    {
        font-size: 2.3em;
    }

    main section.catalogue_photo div img
    {
        width: 220px;
        height: auto;
    }

    main.accueil section form
    {
        width: 65%;
    }
}
@media all and ( max-width: 950px )
{
    h1
    {
        font-size: 2em;
    }

    main section.catalogue_photo div img
    {
        width: 180px;
        height: auto;
    }

    a.cta
    {
        padding: 10px;
    }

    main.accueil section form
    {
        width: 80%;
    }

    section div.grid-paysages
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 300px 300px 300px;
        gap: 15px;
    }
    section div.grid-portraits
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px 300px 300px;
        gap: 15px;
    }
}
@media all and ( max-width: 900px )
{
    main.accueil section:first-of-type
    {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: center;
    }
    main.accueil section:first-of-type div:first-of-type
    {
        width: 450px;
    }
    main.accueil section:first-of-type div:first-of-type h1
    {
        text-align: center;
        margin-top: 30px;
    }
    main.accueil section:first-of-type div:first-of-type p
    {
        text-align: justify;
    }
    main.accueil section:first-of-type div:first-of-type a
    {
        display: block;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    main.accueil section:first-of-type div:last-of-type
    {
        width: 350px;
        align-self: center;
    }

    main.accueil section form
    {
        width: 100%;
    }
}
@media all and ( max-width: 800px )
{
    main.accueil section:first-of-type div:last-of-type
    {
        width: 350px;
        align-self: center;
    }

    main.accueil section.catalogue_photo div
    {
        flex-direction: column;
        align-content: center;
    }

    main section.catalogue_photo div img
    {
        width: 350px;
        height: auto;
    }

    main.accueil section form
    {
        width: 80%;
    }

    div.carre_contenu
    {
        width: 60%;
        margin: 0 auto;
    }

    main.a_propos section:nth-of-type( 3 )
    {
        margin: 0 60px;
    }

    section
    {
        padding: 20px 10px;
    }
    section.tarif
    {
        padding-top: 80px;
    }

    td
    {
        padding: 30px;
    }
}
@media all and ( max-width: 600px )
{
    header nav div:last-of-type
    {
        flex-direction: column;
        align-content: baseline;
    }

    main.accueil section:first-of-type div:first-of-type
    {
        width: 330px;
    }

    main.accueil section form div.projet_conteneur
    {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 80px 250px;
    }
    main.accueil section form div.projet_conteneur div:nth-of-type(3)
    {
        grid-column: 1;
    }

    section div.grid-paysages
    ,section div.grid-portraits
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    section div.grid-paysages a
    ,section div.grid-portraits a
    {
        height: 500px;
    }

    section a div
    {
        top: -505px;
    }
}
@media all and ( max-width: 450px )
{
    th ,td
    {
        padding: 15px;
    }

    div.carre_contenu
    {
        padding: 10px;
    }
}